<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='login/style.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
</head>

<body>
    
    <div class="container">
        <div class="from-box login">
            <form action="#" method="post">
                <h1>Masuk</h1>
                <div class="input-box">
                    <input type="email" placeholder="Email" name="email" required>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Password" name="password" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <div class="forgot-link">
                    <input type="checkbox" name="save-login"> Tetap login (Meski browser ditutup)
                </div>
                <input type="submit" name="submit" class="btn" value="Login">
            </form>
        </div>

        <div class="from-box register">
            <form action="#" method="post">
                <h1>Registration</h1>
                <div class="input-box">
                    <input type="text" name="username-reg" minlength="5" placeholder="Username" required>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                    <input type="email" name="email-reg" placeholder="Email" required>
                    <i class='bx bxs-envelope'></i>
                </div>
                <div class="input-box">
                    <input type="password" name="pass-reg" minlength="8" placeholder="Password" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <input type="submit" class="btn" name="register" value="Daftar Sekarang">
            </form>
        </div>

        <div class="toggle-box">
            <div class="toggle-panel toggle-left">
                <h1>Selamat Datang!</h1>
                <p>Yuk buat akun kalau belum punya!</p>
                <button class="btn register-btn">Buat akun</button>
            </div> 
            <div class="toggle-panel toggle-right">
                    <h1>Selamat Datang!</h1>
                    <p>Ada akun? Login yuk!</p>
                    <button class="btn login-btn">Login</button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='login/script.js') }}"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <script>
                function displaySuccessToaster() {
                    toastr.options.timeOut = 10000;
                    toastr.options = {"closeButton": true}
                    toastr.error('{{msg}}');
                }
                displaySuccessToaster()
            </script>        
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>